{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Agregar Pacientes</h2>
  <div class="card p-4 mx-auto" style="max-width:800px;">
    <form method="POST">
      {% csrf_token %}

      <div class="row mb-3">
        <div class="col">
          <input type="text" name="nombre" class="form-control" placeholder="Nombre">
        </div>
        <div class="col">
          <input type="text" name="apellido" class="form-control" placeholder="Apellido">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" name="telefono" class="form-control" placeholder="Teléfono">
        </div>
        <div class="col">
          <input type="date" name="fechnacimiento" class="form-control">
        </div>
      </div>

      <div class="mb-3">
        <input type="email" name="correo" class="form-control" placeholder="correo@ejemplo.com">
      </div>

      <div class="mb-3">
        <input type="text" name="direccion" class="form-control" placeholder="Dirección">
      </div>

      <div class="row mb-3">
        <div class="col">
          <select name="sexo" class="form-control">
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
          </select>
        </div>
        <div class="col">
          <select name="id_nut" class="form-control">
            <option value="">Seleccione Nutriólogo</option>
            {% for n in nutriologos %}
            <option value="{{ n.id }}">{{ n.nombre }} {{ n.apellido }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="d-grid">
        <button class="btn btn-success">Guardar Paciente</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
