{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Lista de Pacientes</h2>
  <table class="table table-bordered table-striped text-center">
    <thead class="table-light">
      <tr>
        <th>ID</th><th>Nombre</th><th>Teléfono</th><th>Fecha Nac.</th><th>Correo</th><th>Nutriólogo</th><th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in pacientes %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }} {{ p.apellido }}</td>
        <td>{{ p.telefono }}</td>
        <td>{{ p.fechnacimiento }}</td>
        <td>{{ p.correo }}</td>
        <td>{% if p.id_nut %}{{ p.id_nut.nombre }} {{ p.id_nut.apellido }}{% endif %}</td>
        <td>
          <a href="{% url 'actualizar_paciente' p.id %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'borrar_paciente' p.id %}" class="btn btn-danger btn-sm">Borrar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
