{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Agregar Cita</h2>
  <div class="card p-4 mx-auto shadow" style="max-width:800px; border-radius:20px;">
    <form method="POST">
      {% csrf_token %}

      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Fecha:</label>
          <input type="date" name="fecha" class="form-control" required>
        </div>
        <div class="col">
          <label class="form-label">Horario:</label>
          <input type="time" name="horario" class="form-control" required>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Motivo:</label>
        <input type="text" name="motivo" class="form-control" placeholder="Motivo de la cita" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Estado:</label>
        <select name="estado" class="form-control" required>
          <option value="pendiente">Pendiente</option>
          <option value="confirmada">Confirmada</option>
          <option value="cancelada">Cancelada</option>
          <option value="finalizada">Finalizada</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Duración (en minutos):</label>
        <input type="number" name="duracion" class="form-control" min="10" max="240" placeholder="Ejemplo: 60" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Observaciones:</label>
        <textarea name="observaciones" class="form-control" placeholder="Observaciones (opcional)"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Paciente:</label>
        <select name="id_paciente" class="form-control" required>
          <option value="">Seleccione Paciente</option>
          {% for p in pacientes %}
          <option value="{{ p.id }}">{{ p.nombre }} {{ p.apellido }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Nutriólogo:</label>
        <select name="id_nut" class="form-control" required>
          <option value="">Seleccione Nutriólogo</option>
          {% for n in nutriologos %}
          <option value="{{ n.id }}">{{ n.nombre }} {{ n.apellido }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="d-grid mt-4">
        <button class="btn btn-success btn-lg">💾 Guardar Cita</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
