{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-danger">Eliminar Historial Médico</h2>

    <p><strong>Paciente:</strong> {{ historial.id_paciente.nombre }} {{ historial.id_paciente.apellido }}</p>
    <p><strong>Diagnóstico:</strong> {{ historial.diagnostico }}</p>
    <p><strong>¿Seguro que deseas eliminar este historial?</strong></p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'ver_historiales' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
