{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-danger">Eliminar Receta</h2>

    <p><strong>Paciente:</strong> {{ receta.id_paciente.nombre }} {{ receta.id_paciente.apellido }}</p>
    <p><strong>Tipo de comida:</strong> {{ receta.tipocomida }}</p>
    <p><strong>¿Seguro que deseas eliminar esta receta?</strong></p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'ver_recetas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
